---
import { getCollection, getEntry, render } from "astro:content";
import BlogPost from '../../layouts/BlogPost.astro';


const allBlogPosts = await getCollection('myblog');
const welcomePost = await getEntry('myblog', 'welcome');

const posts = (await getCollection('myblog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);


if (!welcomePost) {
  // Handle Error, for example:
  throw new Error('Could not find blog post 1');
}
const { Content, headings } = await render(welcomePost);
---

<h1>My posts</h1>
<ul>
  {allBlogPosts.map(post => (
    <li><a href={`/myblog/${post.id}`}>{post.data.title}</a></li>
  ))}
</ul>

<p>Published on: {welcomePost.data.pubDate.toDateString()}</p>
<Content />