---
import AboutHeroImage from '../assets/me.gif';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About info"
	pubDate={new Date('September 10 2025')}
	heroImage={AboutHeroImage}
>
<p>Hi I'm Terese.</p>
<p>This is my blog made with Astro and Obsidian for content typing. I've been really into Astro, I find a lot of the processes to be really easy to follow. They make a lot of sense when coming from React and other component based frameworks. Plus the documentation is superb.</p>
<p>I work at a web development place building websites for newspapers, and help maintain a homegrown CMS.</p>
<p>I <strong>love</strong> volleyball, so I spend most of my free time playing tournaments and adult leagues, at least for as long as my lower back can keep up. I'm in the New England region so lots of Yankee Tournies. I'll get better at outdoor one day</p>
<p>I spend the rest of my time tinkering with new web technologies, and building things like this blog! Check out my github for more!</p>
<p>And if I can squeeze out any more free time where I'm not doomscrolling or scoffing at AI slop, I'll be tinkering with my 1980's specialized Hard Rock, or grabbing a coffee with Lizzy!</p>
</Layout>
